@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #f6f6f6;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 4px 25px -22px black;
  z-index: 10;
}

.titCard {
  margin-bottom: 4px;
  margin-top: -10px;
}

.leaflet-container a.leaflet-popup-close-button {
  padding: 8px 22px 0 0 !important;
}

.leaflet-popup-content p {
  margin: 0px 0;
}

.titSchool {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.parrDir {
  margin-top: 4px !important;
}

.leaflet-popup-content {
  margin: 28px 28px;
  line-height: 1.4;
}

.ifr {
  margin-bottom: 10px;
  margin-top: 10px;
}

#estilo {
  font-weight: 300;
  margin-top: 10px;
  font-size: 14px;
  border-radius: 6px;
  padding: 4px 2px 4px 2px;
  border: 0.5px solid darkgray;
}

#estilo2 {
  font-weight: 300;
  margin-top: 10px;
  font-size: 14px;
  width: 390px;
  border-radius: 6px;
  padding: 4px 2px 4px 2px;
  border: 0.5px solid darkgray;
}

.parrA {
  font-size: 16px;
  font-weight: 300;
}

#panel {
  margin-top: 20px;
}

/*Portada*/
.blog-container-cover {
  width: 100%;
  height: 500px;
  position: relative;
  margin-top: 80px;
  background-image: url(../img/img3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-container-cover:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(25, 81, 235, 0.76);
  position: absolute;
  top: 0;
  left: 0;
}

.container-info-cover {
  max-width: 800px;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.container-info-cover h1 {
  font-size: 60px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 20px;
}

.container-info-cover p {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

/*Contenedor de categorias*/
input[type="radio"] {
  display: none;
}

.container-category {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.container-category label {
  padding: 6px 40px;
  margin: 10px;
  font-size: 20px;
  background: #e2e2e2;
  border-radius: 5px;
  cursor: pointer;
}

.container-category label:hover {
  opacity: 0.8;
}

/*Post - Publicaciones*/
.container-post {
  max-width: 1200px;
  margin: auto;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  padding: 20px;
}

.posts .post {
  background: #fff;
  box-shadow: 0 0 20px -20px black;
  border-radius: 6px;
  overflow: hidden;
  padding-bottom: 20px;
}

.post .ctn-img {
  width: 100%;
}

.post .ctn-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post h2 {
  font-size: 18px;
  margin-top: 20px;
  padding: 0px 20px;
}

.post span {
  display: block;
  margin-top: 10px;
  padding: 0px 20px;
}

.ctn-tag {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-top: 10px;
}

.ctn-tag li {
  list-style: none;
  font-size: 14px;
  margin: 4px;
  padding: 6px 10px;
  background: #e8e8e8;
  cursor: default;
}

.post button {
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 50px;
  font-size: 16px;
  background: #46a2fd;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.post button:hover {
  opacity: 0.9;
}

/*sistema de filtrado*/
[value="TODOS"]:checked~.posts .post[data-category] {
  display: block;
}

[value="Fisica"]:checked~.posts .post:not([data-category~="Fisica"]),
[value="Quimica"]:checked~.posts .post:not([data-category~="Quimica"]),
[value="Exactas"]:checked~.posts .post:not([data-category~="Exactas"]),
[value="Agron贸mia"]:checked~.posts .post:not([data-category~="Agron贸mia"]),
[value="Economicas"]:checked~.posts .post:not([data-category~="Economicas"]),
[value="Medicina"]:checked~.posts .post:not([data-category~="Medicina"]) {
  display: none;
}

[value="TODOS"]:checked~.container-category [for="TODOS"],
[value="Fisica"]:checked~.container-category [for="Fisica"],
[value="Quimica"]:checked~.container-category [for="Quimica"],
[value="Exactas"]:checked~.container-category [for="Exactas"],
[value="Agron贸mia"]:checked~.container-category [for="Agron贸mia"],
[value="Economicas"]:checked~.container-category [for="Economicas"],
[value="Medicina"]:checked~.container-category [for="Medicina"] {
  background: #46a2fd;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 580px) {
  .posts {
    grid-template-columns: repeat(1, 1fr);
  }
}

#move-content {
  margin-top: 120px;
}

.header-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.logo {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo h1 b {
  color: #46a2fd;
}

.menu {
  height: 80px;
  margin-right: 60px;
}

.menu nav {
  height: 100%;
}

.menu nav ul {
  height: 100%;
  display: flex;
  list-style: none;
}

.menu nav ul li {
  height: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-selected:before {
  content: '';
  width: 100%;
  height: 4px;
  background: #46a2fd;
  position: absolute;
  top: 0;
  left: 0;
}

.menu nav ul li a {
  color: #777777;
  font-size: 18px;
  transition: color 300ms;
}

.menu nav ul li a:hover {
  color: #46a2fd;
}

.menu .text-menu-selected {
  color: #46a2fd;
}

.menu nav ul li a i {
  display: none;
}

.divFlex {
  display: flex;
}

#icon-menu {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #eeeeeefa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#icon-menu:hover {
  opacity: 0.8;
}

/*Buscador de contenido*/
#ctn-icon-search {
  position: absolute;
  right: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerOne {
  width: 100%;
  background: #fff;
  padding: 20px;
}

.sectionP {
  height: 100vh;
  background-color: white;
  z-index: 10;
  width: 440px;
  border-radius: 14px;
  padding: 6px;
  top: 10%;
}

#ctn-icon-search i {
  font-size: 18px;
  color: #777777;
  cursor: pointer;
  transition: all 300ms;
}

#ctn-icon-search i:hover {
  color: #46a2fd;
}

#ctn-bars-search {
  width: 100%;
  background: #fff;
  padding: 20px;
  z-index: 9;
  transition: all 600ms;
}

#ctn-bars-search input {
  display: block;
  width: -webkit-fill-available;
  margin: inherit;
  padding: 12px;
  font-size: 16px;
  border: 0.5px solid darkgray;
  outline: 0;
  border-radius: 6px;
}

.liSearch {
  width: 396px;
  font-size: 14px;
}

#box-search {
  position: fixed;
  top: 76px;
  left: 15%;
  transform: translateX(-50%);
  width: auto;
  background: #fff;
  z-index: 10;
  overflow: hidden;
  display: none;
}

#box-search li a {
  display: block;
  width: -webkit-fill-available;
  color: #777777;
  padding: 12px 20px;
}

#box-search li a:hover {
  background: #f3f3f3;
}

#box-search li a i {
  margin-right: 10px;
  color: #777777;
}

#cover-ctn-search {
  width: -webkit-fill-available;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 7;
  display: none;
}

/*Footer - pie de pagina*/
.container-footer {
  width: 100%;
  padding: 40px 0;
  background: #fff;
  margin-top: 40px;
}

.container-footer footer {
  max-width: 1200px;
  margin: auto;
}

.container-footer footer .logo-footer {
  text-align: center;
}

.container-footer footer .logo-footer img {
  width: 100px;
}

.container-footer footer .redes-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer {
  font-size: 20px;
  margin: 20px;
  background: #efefef;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover {
  background: #41579A;
  color: #fff;
}

footer .redes-footer .fa-google-plus-g:hover {
  background: #DE4C34;
  color: #fff;
}

footer .redes-footer .fa-instagram:hover {
  background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
  color: #fff;
}

.container-footer footer hr {
  margin-top: 20px;
  border: none;
  height: 2px;
  background: #c0c0c07a;
}

.container-footer h4 {
  text-align: center;
  margin-top: 40px;
  color: #8e8e8e;
  font-weight: 500;
}

/* Responsive Design - adaptable a dispositivos moviles*/
@media screen and (max-width: 1220px) {

  .header-content,
  .container-footer footer {
    max-width: 1000px;
    padding: 0 20px;
  }

  #ctn-bars-search,
  #ctn-bars-search input,
  #box-search {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .container-all {
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .move-container-all {
    transform: translateX(300px);
  }

  .menu {
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #fff;
    overflow: hidden;
    transform: translateX(-350px);
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1, 0, 0, 1);
  }

  .show-lateral {
    width: 300px;
    transform: translateX(0px);
  }

  .menu nav ul {
    flex-direction: column;
  }

  .menu nav ul li {
    max-width: 200px;
    height: 50px;
    justify-content: flex-start;
  }

  .menu-selected:before {
    width: 0;
  }

  .menu nav ul li a {
    margin-top: 40px;
    color: #858585;
  }

  .menu nav ul li a i {
    width: 20px;
    display: inline-block;
    margin-right: 10px;
    color: #46a2fd;
  }

  #icon-menu {
    display: flex;
    right: 60px;
  }

  .container-aside {
    flex-wrap: wrap;
  }
}

#map-template {
  height: 100%;
  top: 0;
  width: 1000px;
}

.mapContainer {
  width: auto;
  height: 100vh;
}